
.input-form {
    position: relative;
    margin-bottom:1.25em;

}
.input-form input {
    /* border:0; */
    border: 2px solid #8E8E8E;
    border-radius: 50px;
    outline :none;
    padding: 5px 0 0 30px;
}
.input-form label {
    position: absolute;
    top: 2px;
    left: 30px;
    display: flex;
    align-items: center;
    color:#555;
    transition: .2s ease-in-out;
}
.form-div .input-form input, 
.form-div .input-form label {
    font-size: 1em;
    width: 450px;
    height: 55px;
}

.input-form input:valid + label,
.input-form input:focus + label {
    color: #424242;
    font-size: 0.75em;
    top:-10px;
    pointer-events: none;
}

.form-box:focus,
.form-box:valid {
    border: 2px solid #1A56CE;
    border-radius: 50px;
}

.form-box:focus {
    background-color: #f4f8ff;
}


.btn-cert{
    position: absolute;
    width:120px;
    height: 60px;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    color:white;
    background: #1A56CE;
    border: 2px solid #1A56CE;
    border-radius: 50px;
    font-weight: 600;
}

.btn-recert {
    position: absolute;
    width:120px;
    height: 60px;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    color:#1A56CE;
    background: white;
    border: 2px solid #1A56CE;
    border-radius: 50px;
    font-weight: bold;

}

.btn-confirm{
    position: absolute;
    width:120px;
    height: 60px;
    top:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    color:white;
    background: #1A56CE;
    border: 2px solid #1A56CE;
    border-radius: 50px;
    font-weight: 600;
}


.signup-div {
    width: 400px;
    height: 40px;
    margin:40px 10px 10px;
    padding:5px 30px;
    background-color: #1A56CE;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.signup-btn {
    cursor: pointer;

    width: 100%;
    color:#f5f5f5;
    font-size: 15pt;
    border: none;
    background-color: #1A56CE;
    font-weight: bold;
}

.agree-form {
    text-align: justify;
}

input[type=checkbox] {
    display:none;
}
.allagree-label {
    font-size: 1.2em;
    padding-top:4px;
    display: flex;
}


input[type=checkbox] + label { 
    cursor: pointer; 
    padding-left: 2.5em; 
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets//checked_f.png');
}
input[type=checkbox]:checked + label {
    
    background-image: url('../assets/checked_t.png');
}
/* input[type=checkbox]:disabled + label {
    background-image: url('./img/checker-disabled.svg');
} */

.agree-form p {
    line-height: 1.5;
}

.agree-div {
    padding:30px;
    border:  1px solid #8E8E8E;
    border-radius: 15px;
    box-sizing: border-box;
    
}

.agree-list {
    height: 40px;
    position: relative;
}

.agree-list label {
    font-weight: 500;
    font-size: 1em;
    line-height: 22px;
    display: flex;
    align-items: center;

}

.btn-contents{
    position: absolute;
    right: -50px;
    top:4px;
    border: none;
    width: 55px;
    height: 30px;
    background: url('../assets/arrow.png') no-repeat;
}

.modal-div{
      /* 모달창 크기 */
  width: 400px;
  height: 480px;
  overflow: hidden;
  /* 최상단 위치 */
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: #fff;
  border: 1px solid black;
  border-radius: 15px;
}
.modal-title {
    border-bottom:1px solid #424242;
}
.modal-title p {
    font-weight: 700;
    text-align: center;
}
.btn-modal-close {
    position:absolute;
    right: 10px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: url("../assets/close.png") no-repeat;

}
.modal-contents {
    margin:10px;
    height: 400px;
    overflow: scroll;  
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
      
}
.modal-contents::-webkit-scrollbar {
    display: none;
  }

.icon-pw-show {
    position: absolute;
    right: 30px;
    top: 20px;
}